@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 지정 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  /* 모든 파일에 폰트 지정 */
  * {
    font-family: "Pretendard-Regular";
    width: 100%;
    height: 100%;
  }
}

@layer components {
  .base_layout {
    @apply w-full h-full;
  }

  .basic_button {
    @apply p-2 border-2 rounded-xl shadow-xl active:shadow-inner;
  }

  .main_layout {
    @apply mt-20 w-5/6 h-fit min-h-[500px] border-2 shadow-xl shadow-orange-100 rounded-xl;
  }

  .input {
    @apply h-6 rounded-md p-2 outline-none;
  }
}
